body {
	background-color: #f8f8f8;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.white-box  {
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	padding: 5px;
	margin: 10px;
}

h3, h4 {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 3px;
	padding: 0;
}

#game {
	height: 600px;
	padding-top: 0;
	padding-bottom: 0;
	min-width: 1050px;
}

#settings {
	height: 100%;
	width: 450px;
	padding: 0;
	margin: 0;
	margin-left: 5px;
	float: left;
}

ul {
	margin: 5px;
	margin-left: 23px;
	padding: 0;
}

li {
	margin-left: 0;
	padding: 0;
}

#display {
	white-space: nowrap;
}

.stats {
	color: #8B4599;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	min-width: 1050px;
}

.small-link {
	font-size: 0.7em;
	text-decoration: none;
}
